$primary: #FEC7D7;
$black: #0E172C;
$white: #FFFFFE;
$secondary: #A786DF;
$tertiary: #D9D4E7;
$green: #85D1CE;
$blue: #91C1D7;
$grey: #535353;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: $primary;
    .title-message-container{
        font-size: 24px;
        padding: 48px 24px 0px 24px;
        font-weight: 800;
        color: $black;
    }
    main{
        height: 100vh;
        margin-top: 24px;
        .mensaje-container{
            margin: 0 24px;
            background-color: $white;
            border-radius: 8px;
            .message-uno-container{
                display: flex;
                justify-content: center;
                padding: 8px;
                .nombre-hora-container{
                   width: 100%;
                   margin-left: 8px;
                   .contenido-textual{
                       display: flex;
                       .contenido-title{
                           color: $black;
                           font-size: 15px;
                           font-weight: 600;
                           margin-bottom: 5px;
                       }
                       .contenido-hora{
                           color: $grey;
                           font-size: 11px;
                           padding-left: 80px;
                           padding-top: 3px;
                       }
                   }
                   .contenido-descripcion{
                       color: $grey;
                       font-size: 14px;
                       line-height: 20px;
                   }
                }
                .imagen-flecha-container{
                    margin: 20px 0;
                    padding-left: 7px;
                }
            }
        }
    }
}

#footer-container{
    font-size: 2.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    padding-bottom: 16px;
    z-index: 2000;
    background-color: $white;
    .footer-container-navegation{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            padding-top: 15px;
        }
    }
}


// Descripcion mensajes 


@mixin hora (){
    font-size: 12px;
    color: $black;
}


.container-mensajes-usuario{
    height: auto;
}
.header-info-container{
    background-color: $white;
    .information-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        a{
            position: absolute;
            left: 24px;
            top: 24px;
        }
        .person-title{
            margin-top: 8px;
            color: $black;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.conversacion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    padding-bottom: 390px;
    .hora1{
        @include hora();
    }
    .mensaje1{
        color: #0E172C;
        background-color: #fff;
        display: flex;
        margin-left: 120px;
        padding: 16px;
        border-radius: 16px;
        margin-top: 4px;
        p{
            color: #0E172C;
            font-size: 12px;
        }
    }
    .hora2{
        @include hora();
        margin-top: 24px;
    }
    .mensaje2{
        margin-right: 120px;
        margin-top: 4px;
        background-color: $grey;
        border-radius: 16px;
        p{
            padding: 16px;
            padding-right: 28px;
            font-size: 12px;
            color: $white;
        }
    }
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    label{
        width: 100%;  
        input{
            width: 100%;
            padding: 12px 16px;
        }
    }
}