$primary: #FEC7D7;
$black: #0E172C;
$white: #FFFFFE;
$secondary: #A786DF;
$tertiary: #D9D4E7;
$green: #85D1CE;
$blue: #91C1D7;
$grey: #535353;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

@mixin dimensiones {
    width: 24px;
    height: 24px;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
}

// Clases para eventos
.opacity_activa{
    opacity: 1;
}

.opacity_inactiva{
    opacity: 0.5;
}

// Home Section

body{
    background-color: $primary;
}

    // Header
.home-title-container{
    width: auto;
    height: 66px;
    margin: 48px 24px 32px 24px;
    color: $black;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 32.74px;
}


main{
    .category-container{
        margin: 0 24px;
        height: 113px;
        width: auto;
        .category-title{
            font-size: 1.8rem;
            line-height: 24.55px;
            color: $black;
            font-style: normal;
        }
        .category-icons{
            display: flex;
            margin: 8px 0;
            .dog_icon{
                margin-right: 16px;
            }
        }
    }
}


//Mascota Cards

.cards-mascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 100px;
    .mascota1{
        margin-right: 15px;
        height: 250px;
        margin-top: 20px;
    }
    .mascota2{
        padding-top: 50px;
    }
    .mascota3{
        margin-right: 15px;
        height: 250px;
    }
    .mascota4{
        padding-top: 30px;
    }
}




#footer-container{
    font-size: 2.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    padding-bottom: 16px;
    z-index: 2000;
    background-color: $white;
    .footer-container-navegation{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            padding-top: 15px;
        }
    }
}


// Descripcion

#body{
    .back{
        margin-left: 20px;
        margin-top: 20px;
        position: absolute;
    }
    b
    .imagen-grande-mascota{
        background-color: $white;
        width: 100%;
        z-index: -1;
        img{
            width: 100%;
            position: absolute;
        }
    }
    .mascota-container{
        background-color: $white;
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: absolute;
        top: 400px;
        padding-bottom: 15px;
        .informacion-container{
            display: flex;
            width: 100%;
            // justify-content: space-around;
            .title-container{
                display: flex;
                padding-left: 24px;
                div{
                    font-size: 24px;
                    padding: 34px 8px 0px 0px;
                    font-weight: 600;
                    flex: 2 0 auto;
                }
                img{
                    padding: 32px 2px 15px 0px;
                }
            }
            .icono-favoritos{
                img{
                    position: relative;
                    left: 130px;
                    top: 15px;
                }
            }
        }
        .title-container-two{
            display: flex;
            padding-left: 24px;
            padding-top: 30px;
            .raza-container{
                display: flex;
                width: 120px;
                img{
                    padding-right: 2px;
                }
                div{
                    font-size: 12px;
                    color: $grey;
                    padding-top: 5px;
                    padding-left: 5px;
                }
            }
            .edad-container{
                display: flex;
                padding-left: 40px;
                .title-container{
                    font-size: 12px;
                    padding-top: 5px;
                    padding-left: 5px;
                }
            }
        }
        .ubication-container{
            display: flex;
            padding-left: 24px;
            padding-top: 30px;
            img{
                padding-right: 10px;
                padding-bottom: 10px;
            }
            div{
                line-height: 1.5;
                color: $grey;
                font-size: 12px;
            }
        }
        .personalidades-container{
            padding-top: 32px;
            .personalidad-title{
                color: $black;
                font-size: 14px;
                font-weight: 600;
                padding-left: 24px;
                padding-bottom: 8px;
            }
            .personalidades-img{
                padding-left: 24px;
            }
        }
        .description-container{
            padding-top: 32px;
            div{
                color: $black;
                font-size: 16px;
                font-weight: 600;
                padding-left: 24px;
                padding-bottom: 8px;
            }
            p{
                padding-left: 24px;
                text-align: start;
                margin-right: 24px;
                font-size: 16px;
                color: $grey;
                line-height: 1.3;
            }
        }
    }
}

.contacto-description{
    padding-top: 32px;
    display: flex;
    .persona-description{
        display: flex;
        img{
            margin-left: 24px;
            border-radius: 20px;
            border-bottom: 5px;
        }
        div{
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            margin-top: 5px;
            .publicado-por{
                color: $grey;
                font-size: 11px;
            }
            .name-publicacion{
                font-size: 14px;
                color: $black;
                margin-top: 2px;
            }
        }
    }
    button{
        margin-left: 40px;
        padding: 12px 36px;
        border-radius: 98px;
        background-color: $black;
        color: $white;
    }
}