* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
}

.opacity_activa {
  opacity: 1;
}

.opacity_inactiva {
  opacity: 0.5;
}

body {
  background-color: #FEC7D7;
}

.home-title-container {
  width: auto;
  height: 66px;
  margin: 48px 24px 32px 24px;
  color: #0E172C;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 32.74px;
}

main .category-container {
  margin: 0 24px;
  height: 113px;
  width: auto;
}

main .category-container .category-title {
  font-size: 1.8rem;
  line-height: 24.55px;
  color: #0E172C;
  font-style: normal;
}

main .category-container .category-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
}

main .category-container .category-icons .dog_icon {
  margin-right: 16px;
}

.cards-mascotas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 100px;
}

.cards-mascotas .mascota1 {
  margin-right: 15px;
  height: 250px;
  margin-top: 20px;
}

.cards-mascotas .mascota2 {
  padding-top: 50px;
}

.cards-mascotas .mascota3 {
  margin-right: 15px;
  height: 250px;
}

.cards-mascotas .mascota4 {
  padding-top: 30px;
}

#footer-container {
  font-size: 2.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  padding-bottom: 16px;
  z-index: 2000;
  background-color: #FFFFFE;
}

#footer-container .footer-container-navegation {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer-container .footer-container-navegation a {
  padding-top: 15px;
}

#body .back {
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
}

#body b
.imagen-grande-mascota {
  background-color: #FFFFFE;
  width: 100%;
  z-index: -1;
}

#body b
.imagen-grande-mascota img {
  width: 100%;
  position: absolute;
}

#body .mascota-container {
  background-color: #FFFFFE;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  top: 400px;
  padding-bottom: 15px;
}

#body .mascota-container .informacion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#body .mascota-container .informacion-container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
}

#body .mascota-container .informacion-container .title-container div {
  font-size: 24px;
  padding: 34px 8px 0px 0px;
  font-weight: 600;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
}

#body .mascota-container .informacion-container .title-container img {
  padding: 32px 2px 15px 0px;
}

#body .mascota-container .informacion-container .icono-favoritos img {
  position: relative;
  left: 130px;
  top: 15px;
}

#body .mascota-container .title-container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
  padding-top: 30px;
}

#body .mascota-container .title-container-two .raza-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
}

#body .mascota-container .title-container-two .raza-container img {
  padding-right: 2px;
}

#body .mascota-container .title-container-two .raza-container div {
  font-size: 12px;
  color: #535353;
  padding-top: 5px;
  padding-left: 5px;
}

#body .mascota-container .title-container-two .edad-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

#body .mascota-container .title-container-two .edad-container .title-container {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 5px;
}

#body .mascota-container .ubication-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
  padding-top: 30px;
}

#body .mascota-container .ubication-container img {
  padding-right: 10px;
  padding-bottom: 10px;
}

#body .mascota-container .ubication-container div {
  line-height: 1.5;
  color: #535353;
  font-size: 12px;
}

#body .mascota-container .personalidades-container {
  padding-top: 32px;
}

#body .mascota-container .personalidades-container .personalidad-title {
  color: #0E172C;
  font-size: 14px;
  font-weight: 600;
  padding-left: 24px;
  padding-bottom: 8px;
}

#body .mascota-container .personalidades-container .personalidades-img {
  padding-left: 24px;
}

#body .mascota-container .description-container {
  padding-top: 32px;
}

#body .mascota-container .description-container div {
  color: #0E172C;
  font-size: 16px;
  font-weight: 600;
  padding-left: 24px;
  padding-bottom: 8px;
}

#body .mascota-container .description-container p {
  padding-left: 24px;
  text-align: start;
  margin-right: 24px;
  font-size: 16px;
  color: #535353;
  line-height: 1.3;
}

.contacto-description {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto-description .persona-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto-description .persona-description img {
  margin-left: 24px;
  border-radius: 20px;
  border-bottom: 5px;
}

.contacto-description .persona-description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
  margin-top: 5px;
}

.contacto-description .persona-description div .publicado-por {
  color: #535353;
  font-size: 11px;
}

.contacto-description .persona-description div .name-publicacion {
  font-size: 14px;
  color: #0E172C;
  margin-top: 2px;
}

.contacto-description button {
  margin-left: 40px;
  padding: 12px 36px;
  border-radius: 98px;
  background-color: #0E172C;
  color: #FFFFFE;
}
/*# sourceMappingURL=styleHome.css.map */